.main-dashboard {
    padding: 50px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inside-image {
    width: 100%;
    height: 100%;
    /* border: 1px solid #d7d6d6; */
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    overflow: hidden;
    position: relative;
    /* border-bottom: 1px solid #d7d6d6; */
    cursor: pointer;
}

.inside-man {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 4;
  
    /* padding: 50px;
    padding-left: 80px; */


}

@media screen and (min-width:480px) {
    .inside-man {
        max-width: 100%;
        width: 100%;
        border-radius: 24px;
        display: flex;
        /* background-color: pink; */
        gap: 30px;
        flex-wrap: wrap;
    }
}




.content-data {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d7d6d6;
    flex-direction: column;
    border-radius: 24px;
    margin: auto;
    
    max-width: 300px !important ;
    max-height: 420px;
    /* width: 20% */

}

@media screen and (min-width:480px) {
    .content-data {
        max-width: 100%;
    
        /* width: fit-content; */
    }
    .inside-man{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
 

}
.imag-scale-anima {
    height: 100%;

}      


.content-data:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border-radius: 24px;
}

.inside-image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.inside-image img:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.04);
}

.inside-image-content {
    /* width: 286px; */
    /* height: 50%; */

    /* border-right: 1px solid #d7d6d6;
    border-bottom: 1px solid #d7d6d6; */
    /* max-width: 100%; */
    cursor: pointer;
    padding: 10px;

    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 8px;

}

.inside-image-content p {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    opacity: .9;
    color: #000000;

}


.inside-image-content button svg {
    color: #ffffff;
    font-weight: 500;

}

.inside-image-content button:hover {
    background-color: #000;
}

.price span {
    font-size: 17px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
}

.price s {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    opacity: .6;
    font-weight: 500;
}

.price {
    display: flex;
    gap: 5px;
    align-items: center;
}

.border-div label {
    border: 1px solid #000000;
    padding: 4px 12px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
}

.border-div s {
    border: 1px solid #d7d6d6;
    padding: 5px 12px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
    opacity: .9;
}
.log-out{
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 90px;
    background-color: #FF6600;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 12px;
}

.handle-more{
    padding: 12px;
    border-radius: 5px;
    background-color: grey;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

.border-div {
    display: flex;
   
    gap: 4px;
    align-items: center;
    font-size: 14px;
    color: #000000;
}

.look {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-weight: 600;
    color: #000;
    opacity: .8;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.able {
    position: absolute;
    z-index: 0;
    top: 10px;
    right: 15px;
    background-color: #df2c21;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 11px;
    color: #ffffff;
    font-weight: 600;
}



.color-div div[title]:hover:after {
    content: attr(title);
    position: absolute;
    background-color: black;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    margin-top: -20px;
    margin-left: 0px;
    white-space: nowrap;
    font-size: 12px;
}


.range-input input[type="range"] {
    height: 5px;
    background-color: grey;
    outline: none;
    appearance: none;
    margin: 0;
    width: 100%;
    border-radius: 12px;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

.search-sort input {
    max-width: 100%;
    width: 300px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #d7d6d6;
}

.select {
    max-width: 100%;
    width: 150px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #d7d6d6;
    cursor: pointer;

}

.order-serach {
    max-width: 100%;
    width: 150px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #d7d6d6;
    cursor: pointer;

}

.search-sort {
    display: flex;
    gap: 20px;
    position: sticky;
    top:    0px;
    z-index: 5;
    background-color: #d7d6d6;
    border-radius: 5px;
    padding: 10px;

 
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content p {
    margin-bottom: 20px;
  }
  
  .modal-content button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-content button:first-child {
    background-color: #4caf50;
    color: white;
  }
  
  .modal-content button:last-child {
    background-color: #f44336;
    color: white;
  }
  